# These are the default variables that configure:
# peering.json, config.json and mqtt_config.json
# To override, copy the file to z-append.yml and edit as required.

#
# config.json
hornet_configuration:
  useProfile: auto
  httpAPI:
    excludeHealthCheckFromAuth: false
    basicAuth:
      enabled: false
      username: ''
      passwordHash: ''
      passwordSalt: ''
    permitRemoteAccess:
    - getNodeInfo
    - getBalances
    - checkConsistency
    - getTipInfo
    - getTransactionsToApprove
    - getInclusionStates
    - getNodeAPIConfiguration
    - wereAddressesSpentFrom
    - broadcastTransactions
    - findTransactions
    - storeTransactions
    - getTrytes
    - attachToTangle
    - interruptAttachingToTangle
    whitelistedAddresses: []
    bindAddress: "127.0.0.1:{{ hornet_ports.api.port }}"
    limits:
      bodyLengthBytes: 1000000
      findTransactions: 1000
      getTrytes: 1000
      requestsList: 1000
  dashboard:
    bindAddress: "{{ hornet_graph_internal_address }}:{{ hornet_dashboard_internal_port }}"
    theme: default
    basicAuth:
      enabled: false
      username: ''
      passwordHash: ''
      passwordSalt: ''
  snapshots:
    loadType: local
    local:
      intervalSynced: 50
      intervalUnsynced: 1000
      path: snapshot/export.bin
      downloadURLs:
      - https://ls.manapotion.io/export.bin
      - https://x-vps.com/export.bin
      - https://dbfiles.iota.org/mainnet/hornet/latest-export.bin
    global:
      path: snapshot/snapshotMainnet.txt
      spentAddressesPaths:
      - previousEpochsSpentAddresses1.txt
      - previousEpochsSpentAddresses2.txt
      - previousEpochsSpentAddresses3.txt
      index: 1050000
    pruning:
      enabled: true
      delay: 10000
  spentAddresses:
    enabled: true
  network:
    preferIPv6: false
    gossip:
      bindAddress: "0.0.0.0:{{ hornet_ports.peering.port }}"
      reconnectAttemptIntervalSeconds: 60
    autopeering:
      bindAddress: "0.0.0.0:{{ hornet_ports.autopeering.port }}"
      runAsEntryNode: false
      entryNodes:
      - "FvfwJuCMoWJvcJLSYww7whPxouZ9WFJ55uyxTxKxJ1ez@enter.hornet.zone:14626"
      - "EkSLZ4uvSTED1x6KaGzqxoGxjbytt2rPVfbJk1LRLCGL@enter.manapotion.io:18626"
      - "iotaMk9Rg8wWo1DDeG7fwV9iJ41hvkwFX8w6MyTQgDu@enter.thetangle.org:14627"
      - "12w9FrzMdDQ42aBgFrv1siHuJMhuZ4SMVHRFSS7Zb72W@entrynode.iotatoken.nl:14626"
      - "DboTc1v61Xdyvggj8VRszy92ScUTLgfwZaHvXsU8zr7e@entrynode.tanglebay.org:14626"
      - "31Tz9meznQMm7qSDUgyMmYVeHUCGA7za5Suvbom5hpE9@bender.iota.autopeering.com:14626"
      seed: ''
  tipsel:
    maxDeltaTxYoungestRootSnapshotIndexToLSMI: 2
    maxDeltaTxApproveesOldestRootSnapshotIndexToLSMI: 7
    belowMaxDepth: 15
    nonLazy:
      retentionRulesTipsLimit: 100
      maxReferencedTipAgeSeconds: 3
      maxApprovers: 2
    semiLazy:
      retentionRulesTipsLimit: 20
      maxReferencedTipAgeSeconds: 3
      maxApprovers: 2
  node:
    alias: ''
    showAliasInGetNodeInfo: false
    disablePlugins: "{{ hornet_disable_plugins }}"
    enablePlugins: "{{ hornet_enable_plugins }}"
  spammer:
    address: HORNET99INTEGRATED99SPAMMER999999999999999999999999999999999999999999999999999999
    depth: 1
    message: "Spamming with HORNET tipselect, thank you for using HORNET playbook"
    tag: HORNET99INTEGRATED99SPAMMER99PLAYBOOK99RULES
    tagSemiLazy: ''
    cpuMaxUsage: 0.8
    tpsRateLimit: 0
    bundleSize: 1
    valueSpam: false
    workers: 0
    semiLazyTipsLimit: 30
  zmq:
    bindAddress: 127.0.0.1:{{ hornet_ports.zmq.port }}
  profiling:
    bindAddress: 127.0.0.1:6060
  prometheus:
    bindAddress: 127.0.0.1:9312
    goMetrics: true
    processMetrics: true
    promhttpMetrics: true

#
# peers.json
# Example:
#  - identity: example1.neighbor.com:15600
#    preferIPv6: false
#    alias: first_node
#  - identity: example2.neighbor.com:15600
#    alias: second_node
#    preferIPv6: false
hornet_peers: []
hornet_accept_any_connection: "false"
hornet_max_peers: 5

#
# mqtt_config.json
mqtt_worker_number: 4096
mqtt_internal_port: "11883"
mqtt_internal_address: 127.0.0.1
mqtt_proxy_port: "{{ hornet_ports.mqtt.port }}"
mqtt_ws_path: /ws
mqtt_tls_enabled: "false"
mqtt_ca_file: tls/ca/cacert.pem
mqtt_cert_file: tls/server/cert.pem
mqtt_key_file: tls/server/key.pem

#
# Aliases used in generic roles (e.g. ansible-monitoring)
node_db_path: "{{ hornet_config.db.path }}"
node_zmq_port: "{{ hornet_ports.zmq.port }}"
node_enable_plugins: "{{ hornet_config.node.enablePlugins }}"
node_api_port: "{{ hornet_ports.api.port }}"
node_api_port_remote: "14267"
