{
  "useProfile": "{{ hornet_profile | default('auto') }}",
  "httpAPI": {
    "excludeHealthCheckFromAuth": {{ hornet_httpapi_exclude_health_check_auth | default('false') | bool | lower | string }},
    "basicAuth": {
      "enabled": {{ hornet_httpapi_basic_auth | default('false') | bool | lower | string }},
      "username": "{% if hornet_httpapi_basic_auth|bool %}{{ fullnode_user }}{% endif %}",
      "passwordHash": "{% if hornet_httpapi_basic_auth|bool %}{{ fullnode_user_password | hash('sha256') }}{% endif %}",
      "passwordSalt": ""
    },
    "permitRemoteAccess": {{ hornet_permit_remote_access_list | to_nice_json(indent=6) }},
    "whitelistedAddresses": {{ hornet_httpapi_whitelist | default([]) | to_nice_json(indent=6) }},
    "bindAddress": "{{ hornet_api_address | default('0.0.0.0') }}:{{ hornet_api_port | default('14265') }}",
    "limits": {
      "bodyLengthBytes": {{ hornet_max_body_length | default('1000000') }},
      "findTransactions": {{ hornet_max_find_transactions | default('100000') }},
      "getTrytes": {{ hornet_max_get_trytes | default('1000') }},
      "requestsList": {{ hornet_max_requests_list | default('1000') }}
    }
  },
  "dashboard": {
    "bindAddress": "{{ hornet_dashboard_internal_address | default('127.0.0.1') }}:{{ hornet_dashboard_internal_port | default('8087') }}",
    "theme": "{{ hornet_dashboard_theme | default('default') }}",
    "dev": {{ hornet_dashboard_dev | default('false') | bool | lower | string }},
    "basicAuth": {
      "enabled": {{ hornet_dashboard_basic_auth | default('false') | bool | lower | string }},
      "username": "{{ fullnode_user }}",
      "passwordHash": "{{ fullnode_user_password | hash('sha256') }}",
      "passwordSalt": ""
    }
  },
  "db": {
    "path": "{{ hornet_db_path_in_container | default('mainnetdb') }}",
    "debug": {{ hornet_db_debug | default('false') | bool | lower | string }}
  },
  "snapshots": {
    "loadType": "{{ hornet_snapshots_load_type | default('local') }}",
    "local": {
      "depth": {{ hornet_snapshots_local_depth | default('50') }},
      "intervalSynced": {{ hornet_snapshots_local_interval_synced | default('50') }},
      "intervalUnsynced": {{ hornet_snapshots_local_interval_unsynced | default('1000') }},
      "path": "{{ hornet_snapshots_local_path | default('snapshot/export.bin') }}",
      "downloadURL": "{{ hornet_db_source }}"
    },
    "global": {
      "path": "snapshotMainnet.txt",
      "spentAddressesPaths": {{ hornet_globalsnapshot_spentaddressespaths | default([]) | to_nice_json(indent=6) }},
      "index": {{ hornet_global_snapshot_index | default('1050000') }}
    },
    "pruning": {
      "enabled": {{ hornet_snapshot_pruning_enabled | default('true') | bool | lower | string }},
      "delay": {{ hornet_snapshot_pruning_delay | default('40000') }}
    }
  },
  "spentAddresses": {
    "enabled": {{ hornet_spent_addresses | default('true') | bool | lower | string }}
  },
  "coordinator": {
    "address": "{{ hornet_coo_address | default('EQSAUZXULTTYZCLNJNTXQTQHOMOFZERHTCGTXOLTVAHKSA9OGAZDEKECURBRIXIJWNPFCQIOVFVVXJVD9') }}",
    "securityLevel": {{ hornet_coo_security_level | default('2') }},
    "merkleTreeDepth": {{ hornet_coo_merkle_tree_depth |  default('23') }},
    "mwm": {{ hornet_coo_mwm | default('14') }},
    "stateFilePath": "{{ hornet_coo_state_file | default('coordinator.state') }}",
    "merkleTreeFilePath": "{{ hornet_coo_merkle_tree_file | default('coordinator.tree') }}",
    "intervalSeconds": {{ hornet_coo_interval_seconds | default('60') }},
    "checkpointTransactions": {{ hornet_coo_interval_seconds | default('5') }}
  },
  "network": {
    "preferIPv6": {{ hornet_network_prefer_ipv6 | default('false') | bool | lower | string }},
    "gossip": {
      "bindAddress": "{{ hornet_peering_address | default('0.0.0.0') }}:{{ hornet_peering_port | default('15600') }}",
      "reconnectAttemptIntervalSeconds": {{ hornet_reconnect_int | default('60') }}
    },
    "autopeering": {
      "bindAddress": "{{ hornet_network_autopeering_address | default('0.0.0.0') }}:{{ hornet_network_autopeering_port | default('14626') }}",
      "runAsEntryNode": {{ hornet_network_autopeering_entrynode | default('false') | bool | lower | string }},
      "entryNodes": {{ hornet_network_entrynodes | default([]) | to_nice_json(indent=6) }},
      "seed": "{{ hornet_autopeering_seed | default('') }}"
    }
  },
  "tipsel": {
    "belowMaxDepthTransactionLimit": {{ hornet_belowmax_depth_tx_limit | default('20000') }},
    "maxDepth": {{ hornet_max_depth | default('3') }}
  },
  "node": {
    "alias": "{{ hornet_node_alias | default('') }}",
    "showAliasInGetNodeInfo": {{ hornet_node_show_alias | default('false') | bool | lower | string }},
    "disablePlugins": {{ hornet_disable_plugins | to_nice_json(indent=4) }},
    "enablePlugins": {{ hornet_enable_plugins | to_nice_json(indent=4) }}
  },
  "logger": {
    "level": "{{ hornet_log_level | default('info') }}",
    "disableCaller": {{ hornet_log_disable_caller | default('true') | bool | lower | string }},
    "encoding": "{{ hornet_log_encoding | default('console') }}",
    "outputPaths": {{ hornet_logger_output_paths | default(["stdout"]) | to_nice_json(indent=4) }}
  },
  "spammer": {
    "address": "HORNET99INTEGRATED99SPAMMER999999999999999999999999999999999999999999999999999999",
    "depth": {{ hornet_spammer_depth | default('1') }},
    "message": "{{ hornet_spammer_message | default('Spamming with HORNET tipselect, thank you for using HORNET playbook') }}",
    "tag": "HORNET99INTEGRATED99SPAMMER99PLAYBOOK99RULES",
    "cpuMaxUsage": {{ hornet_spammer_cpu_max_usage | default('0.8') }},
    "tpsRateLimit": {{ hornet_spammer_tpsratelimit | default('0.0') }},
    "bundleSize": {{ hornet_spammer_bundle_size | default('1') }},
    "valueSpam": {{ hornet_spammer_value_spam | default('false') | bool | lower | string }},
    "workers": {{ hornet_spammer_workers | default('0') }}
  },
  "graph": {
    "webRootPath": "IOTAtangle/webroot",
    "domain": "{{ honet_graph_domain | default('') }}",
    "webSocket": {
      "uri": "{{ hornet_graph_websocket_uri | default('') }}"
    },
    "bindAddress": "{{ hornet_graph_address | default('127.0.0.1') }}:{{ hornet_graph_internal_port | default('18083') }}",
    "networkName": "meets HORNET",
    "explorerTxLink": "{{ hornet_graph_exp_tx_link | default('http://localhost:8081/explorer/tx/') }}",
    "explorerBundleLink": "{{ hornet_graph_exp_bundle_link | default('http://localhost:8081/explorer/bundle/') }}"
  },
  "monitor": {
    "tangleMonitorPath": "tanglemonitor/frontend",
    "domain": "{{ honet_monitor_domain | default('') }}",
    "initialTransactionsCount": {{ hornet_monitor_initial_tx_count | default('15000') }},
    "remoteapiport": {{ hornet_api_monitor_port_ext | default('4433') }},
    "apiBindAddress": "{{ hornet_monitor_address | default('127.0.0.1') }}:{{ hornet_monitor_api_port | default('14433') }}",
    "webBindAddress": "{{ hornet_monitor_address | default('127.0.0.1') }}:{{ hornet_monitor_port | default('14434') }}",
    "websocket": {
      "uri": "{{ hornet_monitor_websocket_uri | default('') }}"
    }
  },
  "mqtt": {
    "config": "{{ hornet_mqtt_config_file | default('mqtt_config.json') }}"
  },
  "zmq": {
    "bindAddress": "{{ hornet_zmq_address | default('127.0.0.1') }}:{{ hornet_zmq_port | default('5556') }}"
  },
  "profiling": {
    "bindAddress": "{{ hornet_profiling_address | default('127.0.0.1') }}:{{ hornet_profiling_port | default('6060') }}"
  },
  "prometheus": {
    "bindAddress": "{{ hornet_prometheus_address | default('127.0.0.1') }}:{{ hornet_prometheus_port | default('9312') }}",
    "goMetrics": {{ hornet_prometheus_go_metrics | default('false') | bool | lower | string }},
    "processMetrics": {{ hornet_prometheus_process_metrics | default('false') | bool | lower | string }},
    "promhttpMetrics": {{ hornet_prometheus_prometheus_metrics | default('true') | bool | lower | string }}
  }
}
