{
  "useProfile": "{{ hornet_profile }}",
  "httpAPI": {
    "excludeHealthCheckFromAuth": {{ hornet_httpapi_exclude_health_check_auth | bool | lower | string }},
    "basicAuth": {
      "enabled": {{ hornet_httpapi_basic_auth | bool | lower | string }},
      "username": "{% if hornet_httpapi_basic_auth | bool %}{{ fullnode_user }}{% endif %}",
      "passwordHash": "{% if hornet_httpapi_basic_auth | bool %}{{ (fullnode_user_password + hornet_httpapi_basic_auth_salt) | hash('sha256') }}{% endif %}",
      "passwordSalt": "{% if hornet_httpapi_basic_auth | bool %}{{ hornet_httpapi_basic_auth_salt }}{% endif %}"
    },
    "permitRemoteAccess": {{ hornet_permit_remote_access_list | to_nice_json(indent=6) }},
    "whitelistedAddresses": {{ hornet_httpapi_whitelist | to_nice_json(indent=6) }},
    "bindAddress": "{{ hornet_api_address }}:{{ hornet_api_port }}",
    "limits": {
      "bodyLengthBytes": {{ hornet_max_body_length }},
      "findTransactions": {{ hornet_max_find_transactions }},
      "getTrytes": {{ hornet_max_get_trytes }},
      "requestsList": {{ hornet_max_requests_list }}
    }
  },
  "dashboard": {
    "bindAddress": "{{ hornet_dashboard_internal_address }}:{{ hornet_dashboard_internal_port }}",
    "theme": "{{ hornet_dashboard_theme  }}",
    "dev": {{ hornet_dashboard_dev | bool | lower | string }},
    "basicAuth": {
      "enabled": {{ hornet_dashboard_basic_auth | bool | lower | string }},
      "username": "{% if hornet_dashboard_basic_auth | bool %}{{ fullnode_user }}{% endif %}",
      "passwordHash": "{% if hornet_dashboard_basic_auth | bool %}{{ (fullnode_user_password + hornet_dashboard_basic_auth_salt) | hash('sha256') }}{% endif %}",
      "passwordSalt": "{% if hornet_dashboard_basic_auth | bool %}{{ hornet_dashboard_basic_auth_salt }}{% endif %}"
    }
  },
  "db": {
    "path": "{{ hornet_db_path_in_container }}",
    "debug": {{ hornet_db_debug | bool | lower | string }}
  },
  "snapshots": {
    "loadType": "{{ hornet_snapshots_load_type }}",
    "local": {
      "depth": {{ hornet_snapshots_local_depth }},
      "intervalSynced": {{ hornet_snapshots_local_interval_synced }},
      "intervalUnsynced": {{ hornet_snapshots_local_interval_unsynced }},
      "path": "{{ hornet_snapshots_local_path }}",
      "downloadURL": "{{ hornet_db_source }}"
    },
    "global": {
      "path": "snapshot/snapshotMainnet.txt",
      "spentAddressesPaths": {{ hornet_globalsnapshot_spentaddressespaths | to_nice_json(indent=6) }},
      "index": {{ hornet_global_snapshot_index }}
    },
    "pruning": {
      "enabled": {{ hornet_snapshot_pruning_enabled | bool | lower | string }},
      "delay": {{ hornet_snapshot_pruning_delay }}
    }
  },
  "spentAddresses": {
    "enabled": {{ hornet_spent_addresses_enabled | bool | lower | string }}
  },
  "coordinator": {
    "address": "{{ hornet_coo_address }}",
    "securityLevel": {{ hornet_coo_security_level }},
    "merkleTreeDepth": {{ hornet_coo_merkle_tree_depth }},
    "mwm": {{ hornet_coo_mwm }},
    "stateFilePath": "{{ hornet_coo_state_file }}",
    "merkleTreeFilePath": "{{ hornet_coo_merkle_tree_file }}",
    "intervalSeconds": {{ hornet_coo_interval_seconds }},
    "checkpointTransactions": {{ hornet_coo_checkpoint_transactions }}
  },
  "network": {
    "preferIPv6": {{ hornet_network_prefer_ipv6 | bool | lower | string }},
    "gossip": {
      "bindAddress": "{{ hornet_peering_address }}:{{ hornet_peering_port }}",
      "reconnectAttemptIntervalSeconds": {{ hornet_reconnect_int }}
    },
    "autopeering": {
      "bindAddress": "{{ hornet_network_autopeering_address }}:{{ hornet_network_autopeering_port }}",
      "runAsEntryNode": {{ hornet_network_autopeering_entrynode | bool | lower | string }},
      "entryNodes": {{ hornet_network_entrynodes | to_nice_json(indent=6) }},
      "seed": "{{ hornet_autopeering_seed | default('') }}"
    }
  },
  "tipsel": {
    "belowMaxDepthTransactionLimit": {{ hornet_belowmax_depth_tx_limit }},
    "maxDepth": {{ hornet_max_depth }}
  },
  "node": {
    "alias": "{{ hornet_node_alias | default('') }}",
    "showAliasInGetNodeInfo": {{ hornet_node_show_alias | bool | lower | string }},
    "disablePlugins": {{ hornet_disable_plugins | to_nice_json(indent=4) }},
    "enablePlugins": {{ hornet_enable_plugins | to_nice_json(indent=4) }}
  },
  "logger": {
    "level": "{{ hornet_log_level }}",
    "disableCaller": {{ hornet_log_disable_caller | bool | lower | string }},
    "encoding": "{{ hornet_log_encoding }}",
    "outputPaths": {{ hornet_logger_output_paths | to_nice_json(indent=4) }}
  },
  "spammer": {
    "address": "{{ hornet_spammer_address }}",
    "depth": {{ hornet_spammer_depth }},
    "message": "{{ hornet_spammer_message }}",
    "tag": "{{ hornet_spammer_tag }}",
    "cpuMaxUsage": {{ hornet_spammer_cpu_max_usage }},
    "tpsRateLimit": {{ hornet_spammer_tpsratelimit }},
    "bundleSize": {{ hornet_spammer_bundle_size }},
    "valueSpam": {{ hornet_spammer_value_spam | bool | lower | string }},
    "workers": {{ hornet_spammer_workers }}
  },
  "graph": {
    "webRootPath": "tanglevisualiser/webroot",
    "domain": "{{ honet_graph_domain | default('') }}",
    "webSocket": {
      "uri": "{{ hornet_graph_websocket_uri | default('') }}"
    },
    "bindAddress": "{{ hornet_graph_internal_address }}:{{ hornet_graph_internal_port }}",
    "networkName": "meets HORNET",
    "explorerTxLink": "{{ hornet_graph_exp_tx_link }}",
    "explorerBundleLink": "{{ hornet_graph_exp_bundle_link }}"
  },
  "monitor": {
    "tangleMonitorPath": "tanglemonitor/frontend",
    "domain": "{{ honet_monitor_domain | default('') }}",
    "initialTransactionsCount": {{ hornet_monitor_initial_tx_count }},
    "remoteApiPort": {{ hornet_api_monitor_port_ext }},
    "apiBindAddress": "{{ hornet_monitor_internal_address }}:{{ hornet_monitor_api_port }}",
    "webBindAddress": "{{ hornet_monitor_internal_address }}:{{ hornet_monitor_port }}",
    "websocket": {
      "uri": "{{ hornet_monitor_websocket_uri | default('') }}"
    }
  },
  "mqtt": {
    "config": "{{ hornet_mqtt_config_file }}"
  },
  "zmq": {
    "bindAddress": "{{ hornet_zmq_address }}:{{ hornet_zmq_port }}"
  },
  "profiling": {
    "bindAddress": "{{ hornet_profiling_address }}:{{ hornet_profiling_port }}"
  },
  "prometheus": {
    "bindAddress": "{{ hornet_prometheus_address }}:{{ hornet_prometheus_port }}",
    "goMetrics": {{ hornet_prometheus_go_metrics | bool | lower | string }},
    "processMetrics": {{ hornet_prometheus_process_metrics | bool | lower | string }},
    "promhttpMetrics": {{ hornet_prometheus_prometheus_metrics | bool | lower | string }}
  }
}
