# hornet image tag (=version)
TAG={{ hornet_tag }}
{% if hornet_profile != 'light' %}
# hornet base image
HORNET_IMAGE={{ hornet_image }}

# Command line options to pass to hornet executable
OPTIONS="-c config"

# Optional options for Docker
DOCKER_OPTS=""
{% else %}

# Command line options to pass to hornet executable
OPTIONS="-c {{ hornet_home_path }}/config"
{% endif %}
