{
  "useProfile": "{{ hornet_config_useProfile }}",
  "httpAPI": {
    "excludeHealthCheckFromAuth": {{ hornet_config_httpAPI_excludeHealthCheckFromAuth | bool | lower | string }},
    "basicAuth": {
      "enabled": {{ hornet_config_httpAPI_basicAuth_enabled | bool | lower | string }},
      "username": "{{ hornet_config_httpAPI_basicAuth_username }}",
      "passwordHash": "{{ hornet_config_httpAPI_basicAuth_passwordHash }}",
      "passwordSalt": "{{ hornet_config_httpAPI_basicAuth_passwordSalt }}"
    },
    "permitRemoteAccess": {{ hornet_config_httpAPI_permitRemoteAccess | to_nice_json(indent=6) }},
    "whitelistedAddresses": {{ hornet_config_httpAPI_whitelistedAddresses | to_nice_json(indent=6) }},
    "bindAddress": "{{ hornet_config_httpAPI_bindAddress }}",
    "limits": {
      "bodyLengthBytes": {{ hornet_config_httpAPI_limits_bodyLengthBytes | int }},
      "findTransactions": {{ hornet_config_httpAPI_limits_findTransactions | int }},
      "getTrytes": {{ hornet_config_httpAPI_limits_getTrytes | int }},
      "requestsList": {{ hornet_config_httpAPI_limits_requestsList | int }}
    }
  },
  "dashboard": {
    "bindAddress": "{{ hornet_config_dashboard_bindAddress }}",
    "theme": "{{ hornet_config_dashboard_theme }}",
    "basicAuth": {
      "enabled": {{ hornet_config_dashboard_basicAuth_enabled | bool | lower | string }},
      "username": "{{ hornet_config_dashboard_basicAuth_username }}",
      "passwordHash": "{{ hornet_config_dashboard_basicAuth_passwordHash }}",
      "passwordSalt": "{{ hornet_config_dashboard_basicAuth_passwordSalt }}"
    }
  },
  "snapshots": {
    "loadType": "{{ hornet_config_snapshots_loadType }}",
    "local": {
      "intervalSynced": {{ hornet_config_snapshots_local_intervalSynced | int }},
      "intervalUnsynced": {{ hornet_config_snapshots_local_intervalUnsynced | int }},
      "path": "{{ hornet_config_snapshots_local_path }}",
      "downloadURLs": {{ hornet_config_snapshots_local_downloadURLs | to_nice_json(indent=8) }}
    },
    "global": {
      "path": "{{ hornet_config_snapshots_global_path }}",
      "spentAddressesPaths": {{ hornet_config_snapshots_global_spentAddressesPaths | to_nice_json(indent=8) }},
      "index": {{ hornet_config_snapshots_global_index | int }}
    },
    "pruning": {
      "enabled": {{ hornet_config_snapshots_pruning_enabled | bool | lower | string }},
      "delay": {{ hornet_config_snapshots_pruning_delay | int }}
    }
  },
  "spentAddresses": {
    "enabled": {{  hornet_config_spentAddresses_enabled| bool | lower | string }}
  },
  "coordinator": {
    "address": "{{ hornet_config_coordinator_address }}",
    "securityLevel": {{ hornet_config_coordinator_securityLevel | int }},
    "merkleTreeDepth": {{ hornet_config_coordinator_merkleTreeDepth | int }},
    "mwm": {{ hornet_config_coordinator_mwm | int }},
    "stateFilePath": "{{ hornet_config_coordinator_stateFilePath }}",
    "merkleTreeFilePath": "{{ hornet_config_coordinator_merkleTreeFilePath }}",
    "milestoneMerkleTreeHashFunc": "{{ hornet_config_coordinator_milestoneMerkleTreeHashFunc }}",
    "intervalSeconds": {{ hornet_config_coordinator_intervalSeconds | int }},
    "checkpoints": {
      "maxTrackedTails": {{ hornet_config_coordinator_checkpoints_maxTrackedTails | int }}
    },
    "tipsel": {
      "minHeaviestBranchUnconfirmedTransactionsThreshold": {{ hornet_config_coordinator_tipsel_minHeaviestBranchUnconfirmedTransactionsThreshold | int }},
      "maxHeaviestBranchTipsPerCheckpoint": {{ hornet_config_coordinator_tipsel_maxHeaviestBranchTipsPerCheckpoint | int }},
      "randomTipsPerCheckpoint": {{ hornet_config_coordinator_tipsel_randomTipsPerCheckpoint | int }},
      "heaviestBranchSelectionDeadlineMilliseconds": {{ hornet_config_coordinator_tipsel_heaviestBranchSelectionDeadlineMilliseconds | int }}
    }
  },
  "network": {
    "preferIPv6": {{ hornet_config_network_preferIPv6 | bool | lower | string }},
    "gossip": {
      "bindAddress": "{{ hornet_config_network_gossip_bindAddress }}",
      "reconnectAttemptIntervalSeconds": {{ hornet_config_network_gossip_reconnectAttemptIntervalSeconds | int }}
    },
    "autopeering": {
      "bindAddress": "{{ hornet_config_network_autopeering_bindAddress }}",
      "runAsEntryNode": {{ hornet_config_network_autopeering_runAsEntryNode | bool | lower | string }},
      "entryNodes": {{ hornet_config_network_autopeering_entryNodes | to_nice_json(indent=8) }},
      "seed": "{{ hornet_config_network_autopeering_seed }}"
    }
  },
  "tipsel": {
    "belowMaxDepth": {{ hornet_config_tipsel_belowMaxDepth | int }},
    "maxDeltaTxOldestRootSnapshotIndexToLSMI": {{ hornet_config_tipsel_maxDeltaTxOldestRootSnapshotIndexToLSMI | int }},
    "maxDeltaTxYoungestRootSnapshotIndexToLSMI": {{ hornet_config_tipsel_maxDeltaTxYoungestRootSnapshotIndexToLSMI | int }},
    "nonLazy": {
      "maxApprovers": {{ hornet_config_tipsel_nonLazy_maxApprovers | int }},
      "maxReferencedTipAgeSeconds": {{ hornet_config_tipsel_nonLazy_maxReferencedTipAgeSeconds | int }},
      "retentionRulesTipsLimit": {{ hornet_config_tipsel_semiLazy_retentionRulesTipsLimit | int }}
    },
    "semiLazy": {
      "maxApprovers": {{ hornet_config_tipsel_semiLazy_maxApprovers | int }},
      "maxReferencedTipAgeSeconds": {{ hornet_config_tipsel_semiLazy_maxReferencedTipAgeSeconds | int }},
      "retentionRulesTipsLimit": {{ hornet_config_tipsel_semiLazy_retentionRulesTipsLimit | int }}
    }
  },
  "node": {
    "alias": "{{ hornet_config_node_alias }}",
    "showAliasInGetNodeInfo": {{ hornet_config_node_showAliasInGetNodeInfo | bool | lower | string }},
    "disablePlugins": {{ hornet_config_node_disablePlugins | to_nice_json(indent=6) }},
    "enablePlugins": {{ hornet_config_node_enablePlugins | to_nice_json(indent=6) }}
  },
  "spammer": {
    "address": "{{ hornet_config_spammer_address }}",
    "depth": {{ hornet_config_spammer_depth | int }},
    "message": "{{ hornet_config_spammer_message }}",
    "tag": "{{ hornet_config_spammer_tag }}",
    "tagSemiLazy": "{{ hornet_config_spammer_tagSemiLazy }}",
    "cpuMaxUsage": {{ hornet_config_spammer_cpuMaxUsage | float }},
    "tpsRateLimit": {{ hornet_config_spammer_tpsRateLimit | int }},
    "bundleSize": {{ hornet_config_spammer_bundleSize }},
    "valueSpam": {{ hornet_config_spammer_valueSpam | bool | lower | string }},
    "workers": {{ hornet_config_spammer_workers | int }},
    "semiLazyTipsLimit": {{ hornet_config_spammer_semiLazyTipsLimit | int }}
  },
  "zmq": {
    "bindAddress": "{{ hornet_config_zmq_bindAddress }}"
  },
  "profiling": {
    "bindAddress": "{{ hornet_config_profiling_bindAddress }}"
  },
  "prometheus": {
    "bindAddress": "{{ hornet_config_prometheus_bindAddress }}",
    "goMetrics": {{ hornet_config_prometheus_goMetrics | bool | lower | string }},
    "processMetrics": {{ hornet_config_prometheus_processMetrics | bool | lower | string }},
    "promhttpMetrics": {{ hornet_config_prometheus_promhttpMetrics | bool | lower | string }},
    "fileServiceDiscovery": {
      "enabled": {{ hornet_config_prometheus_fileServiceDiscovery_enabled | bool | lower | string }},
      "path": "{{ hornet_config_prometheus_fileServiceDiscovery_path }}",
      "target": "{{ hornet_config_prometheus_fileServiceDiscovery_target }}"
    }
  }
}
