# hornet image tag (=version)
TAG={{ hornet_tag }}

# hornet base image
HORNET_IMAGE={{ hornet_image }}

# Command line options to pass to hornet executable
OPTIONS="-c /app/config.json"

# Optional options for Docker
DOCKER_OPTS=""
