{
  "workerNum": {{ mqtt_worker_number }},
  "port": "{{ mqtt_internal_port }}",
  "host": "{{ mqtt_internal_address }}",
  "cluster": {
    "host": "",
    "port": ""
  },
  "router": "",
  "wsPort": "",
  "wsPath": "{{ mqtt_ws_path }}",
  "wsTLS": {{ mqtt_tls_enabled | bool | lower | string }},
  "tlsPort": "",
  "tlsHost": "",
  "tlsInfo": {
    "verify": false,
    "caFile": "{{ mqtt_ca_file }}",
    "certFile": "{{ mqtt_cert_file }}",
    "keyFile": "{{ mqtt_key_file }}"
  },
  "plugins": {}
}
