{
  "acceptAnyNeighborConnection": {{ hornet_accept_any_neighbor_connection | default('false') | bool | lower | string }},
  "maxNeighbors": {{ hornet_max_neighbors | default('5') }},
  "neighbors": {{ hornet_neighbors | to_nice_json(indent=4) }}
}
