# Configuration for comnet (main config override values)
#
# config.json

# snapshots
hornet_config_snapshots_local_intervalSynced: 50
hornet_config_snapshots_local_downloadURLs:
  - https://ls.manapotion.io/comnet/export.bin
hornet_config_snapshots_pruning_delay: 60480

# network
hornet_config_network_autopeering_entryNodes:
  - "iotaCrvEWGfaeA1HutcULjD4uZnPhEnD5xNGfGs8vhe@enter.comnet.thetangle.org:14647"
  - "GLZAWBGqvm6ZRT7jGMFAKyUJNPdvx4i5A1GPRZbGS6C9@enter.comnet.hornet.zone:14627"
  - "J1Hn5r9pS5FkLeYqXWstC2Zyjxj73grEWvjuene3qjM9@entrynode.comnet.einfachiota.de:14636"

# coordinator
hornet_config_coordinator_address: "UOMFQOULWQLXQQHFMFRQQTRDKDHVMRFFEGZ9LDU9TFZZ9CHDLZSIAHA9MXNSLYOERCHDUVDFEEZAEOBEW"
hornet_config_coordinator_merkleTreeDepth: 23
hornet_config_coordinator_mwm: 10
hornet_config_coordinator_intervalSeconds: 60
hornet_config_coordinator_tipsel_randomTipsPerCheckpoint: 2

# tipsel
hornet_config_tipsel_maxDeltaTxYoungestRootSnapshotIndexToLSMI: 2
hornet_config_tipsel_maxDeltaTxOldestRootSnapshotIndexToLSMI: 7
