ssl_certificate {% if letsencrypt is not defined or letsencrypt|bool == False %}{{ ssl_cert_file }}{% else %}{{ ssl_bundle_cert|default('dummy_ssl_bundle.crt') }}{% endif %};
ssl_certificate_key {{ ssl_key_file }};

ssl_protocols TLSv1.2 TLSv1.3;
ssl_prefer_server_ciphers on;
# If you choose to add dhparam, run this command and
# remove # from the line beginning with `ssl_dhparam`:
# `cd /etc/ssl/private && openssl dhparam -out dhparam.pem 4096`
#ssl_dhparam /etc/ssl/private/dhparam.pem;

ssl_ciphers EECDH+AESGCM:EECDH+AES256;
ssl_session_timeout 1d;
ssl_session_cache shared:TLS:2m;
ssl_ecdh_curve secp521r1:secp384r1;
ssl_buffer_size 4k;
resolver 8.8.8.8 8.8.4.4 valid=300s;
resolver_timeout 10s;
ssl_stapling {% if letsencrypt is defined and letsencrypt %}on{% else %}off{% endif %};
ssl_stapling_verify {% if letsencrypt is defined and letsencrypt %}on{% else %}off{% endif %};
{% if letsencrypt is not defined or letsencrypt|bool == False %}#{% endif %}ssl_trusted_certificate {{ ssl_bundle_cert|default('dummy_ssl_bundle.crt') }};
add_header Strict-Transport-Security 'max-age=31536000; includeSubDomains; preload' always;
add_header X-Frame-Options DENY;
add_header X-Content-Type-Options nosniff;
add_header X-XSS-Protection "1; mode=block";
