TAG={{ cadvisor_tag }}
BIND_PORT={{ cadvisor_port }}
BIND_ADDRESS={{ cadvisor_bind_address }}
DOCKER_OPTS="{% if cfs_support.rc == 0 %}--cpus={{ cadvisor_docker_cpu_shares | default('.25') }}{% endif %}"
